In [1]:
import sweetviz as sv
# Importing the basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("./playground-series-s4e1/train.csv")

In [3]:
Lead_report = sv.analyze(df,target_feat="Exited")
Lead_report.show_html("Binary-classification report.html",layout="widescreen",scale=1.0)

                                             |          | [  0%]   00:00 -> (? left)

Report Binary-classification report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [4]:
test_df=pd.read_csv("./playground-series-s4e1/test.csv")
test_df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [5]:
test_train_report = sv.compare([df, "Training Data"], [test_df, "Test Data"],target_feat="Exited")
test_train_report.show_html("Test-Train-report.html",layout="widescreen",scale=1.0)

                                             |          | [  0%]   00:00 -> (? left)

Report Test-Train-report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.